@model Cynfo1._0.ViewModels.AdFormViewModel

  
<style>
    
     /* label color */
   .input-field label {
     color: #000;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #000;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #000;
   }
        
</style>

@using (Html.BeginForm("Save", "Advertisements", FormMethod.Post, new { enctype = "multipart/form-data", id = "adsForm", @class = "" }))
 {

     <div class="modal-content ">
         <h2>@ViewBag.AdFormTitle</h2>
         <div class="w3-container row">
             <br/>
             <div class="input-field col s6">
                 @Html.LabelFor(m => m.Advertisement.Title, htmlAttributes: new {@class = ""})
                 @Html.TextBoxFor(m => m.Advertisement.Title, new {@class = ""})
                 @Html.ValidationMessageFor(m => m.Advertisement.Title)

             </div>


             <div class="input-field col s6">
                 @Html.LabelFor(m => m.Advertisement.ExpirationDate, htmlAttributes: new {@class = ""})
                 @Html.TextBoxFor(m => m.Advertisement.ExpirationDate, new {@class = "datepicker"})
                 
                 @Html.ValidationMessageFor(m => m.Advertisement.ExpirationDate)        

             </div>

             @if (@ViewBag.AdFormTitle=="Nuevo Anuncio") { 
             <div class="input-field col s12">

                 @Html.DropDownListFor(m => m.Advertisement.BeaconId, new SelectList(Model.Beacons, "Id", "AreaName"), "-Seleccione el Area-", new {@class = ""})
                 @Html.ValidationMessageFor(m => m.Advertisement.BeaconId)

             </div>
                }

             <div class="input-field col s12">
                 @Html.LabelFor(m => m.Advertisement.Description, htmlAttributes: new {@class = ""})
                 @Html.TextAreaFor(m => m.Advertisement.Description, new {@class = "materialize-textarea"})
                 @Html.ValidationMessageFor(m => m.Advertisement.Description)

             </div>


             @if (Model.Advertisement.Id != 0)
             {

                 <div class="w3-container col s12">
                     <img src="@Model.Advertisement.MediaURL" class="w3-animate-zoom " alt="Anuncio" style="width: 50%"/>

                 </div>
                 
                <div class="file-field input-field col s12">
                    <div class="btn">
                        <span>File</span>
                        <input type="file" name="photo">

                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                   
                </div>
             }

             else
             {

                    <div class="file-field input-field col s12">
                        <div class="btn">
                            <span>File</span>
                            <input type="file" name="photo" data-val="true" data-allowed-file-extensions='["jpeg", "png"]' data-val-required="La imagen es obligatoria">
                            
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                        <span class="field-validation-valid" data-valmsg-for="photo" data-valmsg-replace="true"></span>
                    </div>
             
              
             }
             @Html.HiddenFor(m => m.Advertisement.Id)
             @Html.AntiForgeryToken()




         </div>
     </div>
     <div class="modal-footer">
         <button type="submit" class="modal-action waves-effect waves-green btn btn-flat">Guardar</button>
         <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">Cancelar</a>

     </div>


     

 }

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="/scripts/moment.min.js"></script>
<script src="/scripts/bootstrap-datetimepicker.min.js"></script>


<script>
    $(document).ready(function () {
        $('select').material_select();
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15 // Creates a dropdown of 15 years to control year
        });
        $('#adsForm')
            .on('submit',
                function (e) {

                    var form = $("#adsForm");
                    e.preventDefault();
                    form.validate();
                    $.validator.unobtrusive.parse(form);
                    if (form.valid()) {

                      

                        var url = $(this).attr("action");;
                        console.log(url);
                        var formData = new FormData($(this)[0]);
                        console.log(formData);
                        $.ajax({
                            url: url,
                            type: "POST",
                            data: formData,
                            success: function(resp) {
                                console.log("Created Succesfully");
                                

                                window.location.href = '/Advertisements/Index';

                            },
                            contentType: false,
                            processData: false,
                            error: function(jqXHR, status, error) {
                                console.log(jqXHR);
                                console.log(status);
                                console.log(error);

                            }

                        });

                    } else {

                        console.log("Invalid");
                        return null;
                    }


                });
    });

</script>
