@model Cynfo1._0.ViewModels.AdsViewModel
    

    <div class="w3-row-padding" id="card_container">
        @foreach (var advertisement in Model.Advertisements.Reverse())
        {
            
                <div class="w3-third w3-padding-12" id="card-@advertisement.Id">
                    <div class="w3-card-4 w3-white" style="width: 92%; max-width: 350px;">

                        <img src="@advertisement.MediaURL" style="width: 100%;" />
                        <div class="w3-container">
                            <hr />
                            <h4><b>@advertisement.Title</b></h4>
                            <p>@advertisement.Description</p>
                       
                            <div>
                                <h4><b>Vence en:</b></h4>
                                <div data-countdown="@advertisement.ExpirationDate"></div>
                            </div>






                        </div>

                        <hr />
                        <div class="w3-btn-group w3-row">


                            <!-- <a href="@Url.Action("Edit", "Advertisements", new {id = advertisement.Id})" class="w3-btn-block w3-btn w3-teal m6 w3-col">Editar</a> -->
                            <a onclick="EditAd('@advertisement.Id')" class="w3-btn-block w3-btn w3-theme-d1 m6 w3-col">Editar</a>

                            <button data-ad-id="@advertisement.Id" class="w3-btn js-delete w3-col m6 w3-theme-d1">Borrar</button>




                        </div>

                    </div>
                </div>
                                    


                                }

        </div>

<script>


    $(document)
        .ready(function() {

            $('[data-countdown]')
                .each(function() {
                    var $this = $(this), finalDate = $(this).data('countdown');
                    $this.countdown(finalDate,
                            function(event) {
                                var format = '%H:%M:%S';
                                if (event.offset.totalDays > 0) {
                                    format = '%-d Dia%!d ' + format;
                                }
                                if (event.offset.weeks > 0) {
                                    format = '%-w Semana%!w ' + format;
                                }
                                $(this).html(event.strftime(format));
                            })
                        .on('finish.countdown',
                            function(event) {
                                $(this).html('Este Anuncio ya expiró').parent().addClass('disabled');
                            });
                });

            $("#card_container")
                .on("click",
                    ".js-delete",
                    function() {
                        var button = $(this);

                        bootbox.confirm("Desea eliminar este anuncio?",
                            function(result) {
                                if (result) {
                                    $.ajax({
                                        url: "/api/advertisements/" + button.attr("data-ad-id"),
                                        method: "DELETE",
                                        success: function() {
                                            $("#card-" + button.attr("data-ad-id")).remove();
                                        }
                                    });

                                }
                            });


                    });







        });
</script>