@model Cynfo1._0.ViewModels.AdsViewModel



<div class="row" id="card_container">
    
    @foreach (var advertisement in Model.Advertisements.Reverse())
    {

        <div class="container col m4" id="card-@advertisement.Id">
            <div class="card white" style="max-width: 500px;">
                <div class="card-image">
                    <img src="@advertisement.MediaURL" />
                   
                </div>

                <div class="card-content">
                    <span class="card-title">@advertisement.Title</span>
                    <p>@advertisement.Description</p>
                    <h4><b>Vence en:</b></h4>
                    <div data-countdown="@advertisement.ExpirationDate"></div>

                </div>
                <div class="card-action">
                    <a onclick="EditAd('@advertisement.Id')" class="btn  cyan accent-4 waves-effect waves-light">Editar <i class="material-icons right">edit</i></a>

                    <button onclick="DeleteAd(@advertisement.Id)" class="btn cyan accent-4 waves-effect waves-light">Borrar <i class="material-icons right">delete</i></button>

                </div>
                <!-- <a href="@Url.Action("Edit", "Advertisements", new { id = advertisement.Id })" class="w3-btn-block w3-btn w3-teal m6 w3-col">Editar</a> -->

            </div>

        </div>
    }
</div>







<script src="~/Scripts/jquery.countdown.js"></script>
<script src="~/Scripts/materialize.js"></script>

<script>


    $(document)
        .ready(function () {

            $('[data-countdown]')
                .each(function () {
                    var $this = $(this), finalDate = $(this).data('countdown');
                    $this.countdown(finalDate,
                            function (event) {
                                var format = '%H:%M:%S';
                                if (event.offset.totalDays > 0) {
                                    format = '%-d Dia%!d ' + format;
                                }
                                if (event.offset.weeks > 0) {
                                    format = '%-w Semana%!w ' + format;
                                }
                                $(this).html(event.strftime(format));
                            })
                        .on('finish.countdown',
                            function (event) {
                                $(this).html('Este Anuncio ya expiró').parent().addClass('disabled');
                            });
                });

            $("#card_container")
                .on("click",
                    ".js-delete",
                    function () {
                        var button = $(this);

                        bootbox.confirm("Desea eliminar este anuncio?",
                            function (result) {
                                if (result) {
                                    $.ajax({
                                        url: "/api/advertisements/" + button.attr("data-ad-id"),
                                        method: "DELETE",
                                        success: function () {
                                            $("#card-" + button.attr("data-ad-id")).remove();
                                        }
                                    });

                                }
                            });


                    });







        });
</script>