@model Cynfo1._0.ViewModels.AdFormViewModel
@{
    ViewBag.Title = "Nuevo Anuncio";
    Layout = "~/Views/Shared/_Layout.cshtml";
   

}


<div class="row">

    <div class="container white card col s8 push-s2" id="">
        @using (Html.BeginForm("Save", "Advertisements", FormMethod.Post, new { enctype = "multipart/form-data", id = "adsForm", @class = "" }))
        {
            <div class="w3-container row">
                <h2>Nuevo Anuncio</h2>
                <br />
                <div class="input-field col s6">
                    @Html.LabelFor(m => m.Advertisement.Title, htmlAttributes: new { @class = "w3-text-blue" })
                    @Html.TextBoxFor(m => m.Advertisement.Title, new { @class = "color-accent" })
                    @Html.ValidationMessageFor(m => m.Advertisement.Title)

                </div>

                <div class="input-field col s6">
                    @Html.LabelFor(m => m.Advertisement.ExpirationDate, htmlAttributes: new { @class = "" })
                    @Html.TextBoxFor(m => m.Advertisement.ExpirationDate, new { @class = "datepicker" })
                    @Html.ValidationMessageFor(m => m.Advertisement.ExpirationDate)


                </div>

                <div class="input-field col s12">

                    @Html.DropDownListFor(m => m.Advertisement.BeaconId, new SelectList(Model.Beacons, "Id", "AreaName"), "-Seleccione el Area-", new { @class = "" })
                    @Html.ValidationMessageFor(m => m.Advertisement.BeaconId)

                </div>
                
              

                <div class="input-field col s12">
                    @Html.LabelFor(m => m.Advertisement.Description, htmlAttributes: new { @class = "" })
                    @Html.TextAreaFor(m => m.Advertisement.Description, new { @class = "materialize-textarea" })
                    @Html.ValidationMessageFor(m => m.Advertisement.Description)

                </div>

                @if (Model.Advertisement.Id != 0)
                {

                    <div class="w3-container">
                        <img src="@Model.Advertisement.MediaURL" class="w3-animate-zoom " alt="Anuncio" style="width: 50%" />

                    </div>
                    <br />
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>Imagen</span>
                            <input type="file" name="photo" data-val="true" data-allowed-file-extensions='["jpeg", "png"]' data-val-required="La imagen es obligatoria">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Selecciona una imagen">
                        </div>

                    </div>
                }

                else
                {
                    <div class="file-field input-field col s12">
                        <div class="btn">
                            <span>Imagen</span>
                            <input type="file" name="photo" data-val="true" data-allowed-file-extensions='["jpeg", "png"]' data-val-required="La imagen es obligatoria">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Selecciona una imagen">
                        </div>
                        <span class="field-validation-valid" data-valmsg-for="photo" data-valmsg-replace="true"></span>
                    </div>
                    <!--
                    <div class="in">
                        <label class=""> Imagen del Anuncio</label>
                        <input type="file" name="photo" class="file" data-val="true" data-allowed-file-extensions='["jpeg", "png"]' data-val-required="La imagen es obligatoria"/>
                        <span class="field-validation-valid" data-valmsg-for="photo" data-valmsg-replace="true"></span>
                    </div>
                    -->
                }
                @Html.HiddenFor(m => m.Advertisement.Id)
                @Html.AntiForgeryToken()




            </div>


            <button type="submit" class="modal-action waves-effect waves-green btn btn-flat">Guardar</button>
            <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">Cancelar</a>
        }

    </div>


</div>





@section scripts
{

  <script>

      $(document).ready(function () {
          $.getScript('/scripts/materialize.min.js');

            $('select').material_select();
            $('.datepicker').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 15 // Creates a dropdown of 15 years to control year
            });

            $('#adsForm').on('submit', function (e) {
                var form = $("#adsForm");
                form.validate();

                if (form.valid()) {
                    e.preventDefault();
                    var dialog = bootbox.dialog({

                        message: '<div class="w3-center">' +
                            '<div class=""><i class="fa fa-cog fa-spin fa-3x fa-fw"></i></div>' +
                            '<p class="">Espere mientras se publica el anuncio</p>' +
                            '</div> ',
                        closeButton: false,
                        title: '<div class="w3-center">Procesando Anuncio</div>'

                    });

                    var url = $(this).attr("action");
                    console.log(url);
                    var formData = new FormData($(this)[0]);
                    $.ajax({
                        url: url,
                        type: "POST",
                        data: formData,
                        success: function (resp) {
                            console.log("Created Succesfully");

                            window.location.href = '/Advertisements/Index';

                        },
                        contentType: false,
                        processData: false,
                        error: function (jqXHR, status, error) {
                            console.log(jqXHR);
                            console.log(status);
                            console.log(error);

                        }

                    });

                } else {

                    console.log("Invalid");
                    return null;
                }




            });


        });


    </script>

}
