@using Cynfo1._0.Models
@using Cynfo1._0.ViewModels
@model Cynfo1._0.ViewModels.AdsViewModel

@{
	ViewBag.Title = "Anuncios";
	Layout = "~/Views/Shared/_Layout.cshtml";
	var testModel = new AdFormViewModel();
	int adID = 0;

}
<link rel="stylesheet" href="/Content/animate.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<div id="initialArea" data-AreaId="@Model.Beacons.First().Id" data-AreaName="@Model.Beacons.First().AreaName"></div>

<!--
<nav class="w3-sidenav w3-card-4 w3-animate-left w3-white" style="width: 16%" id="mySidenav">

	<div class="container">
		<button onclick="NewAd()" class="btn waves-effect waves-light"><i class="material-icons right">add</i>Nuevo Anuncio</button>
		<a class="waves-effect waves-light btn"><i class="material-icons left">add</i>button</a>
	</div>

	<hr/>
	<div class="w3-left w3-padding-left w3-text-light-blue">
		Areas
	</div>
	<br/>
	@foreach (var beacon in Model.Beacons)
	{

		<a href="javascript:void(0)" onclick="LoadAds(@beacon.Id)">
			<div class="w3-padding-left w3-padding-4">
				<span class="glyphicons glyphicons-record"></span> @beacon.AreaName
			</div>
		</a>

	}
	<hr/>
</nav>
-->


<div class="row">
	<div class="col m3 l2 hide-on-med-and-down">
		<div class="w3-container w3-center">
			<br />
		    <a onclick="NewAd()"  class="btn-large waves-effect waves-light btn accent-color">Nuevo<i class="material-icons right">add_box</i></a>

		</div>
		<br />
		<ul class="collapsible " data-collapsible="expandable">
			<li>
				<div class="collapsible-header active light-primary-color center-align"><b>Areas Creadas</b></div>
				<div class="collapsible-body center white" style="height: 100%">
					@foreach (var beacon in Model.Beacons)
					{
						<p>
							<a href="javascript:void(0)" onclick="LoadAds(@beacon.Id,'@beacon.AreaName')" class="btn primary-color" style="min-width: 150px">@beacon.AreaName</a>
						</p>
					}


				</div>
			</li>
		</ul>
	</div>

	<div id="main" class="col m9 l10">

		<br />
		<div class="w3-container">
			<h1 class="header text-primary">
			   <b class="" id="AreaAdTitle"></b>
			</h1>
			<div class="divider"></div>
			<br />
		</div>
	  
		
		
		<div class="">

			@if (!Model.Advertisements.Any())
			{
				<p>Aun no se ha publicado ningun anuncio</p>

			}
			else
			{
				<div id="adsContent"></div>





			}
		</div>
	</div>
	<!--Modals Section-->
</div>


<div id="adFormModal" class="modal modal-fixed-footer" style="min-height: 600px">
	
</div>


<!-- Modal Structure -->
<div id="deleteAdModal" class="modal modal-fixed-footer">
	
</div>



@section scripts
{

<script src="~/Scripts/materialize.js"></script>

	<script>


		$(document)
			.ready(function () {
				var initialData = $("#initialArea")
				
				var id =initialData.attr("data-AreaId") 
				var name =initialData.attr("data-AreaName") 
				console.log(id + name)
				LoadAds(id,name )

				
			});

		function DeleteAd(Id) {
			$('.modal').modal();
		   
			$.ajax({
				url: '/Advertisements/PreDelete/'+Id,
				success: function (result) {
					$('#deleteAdModal').html(result);


				}
			});
			$("#deleteAdModal").modal('open');
		}

		function EditAd(Id) {
			console.log("edit id " + Id);
			$.ajax({
				url: '/Advertisements/Edit/' + Id,
				success: function (result) {
				    $('#adFormModal').html(result);
				    $('.modal').modal();
				    $('#adFormModal').modal('open');
				    Materialize.updateTextFields();

				}
			});


		}

		function NewAd() {
			
			$.ajax({
				url: '/Advertisements/Create/',
				success: function (result) {
				    $('#adFormModal').html(result);
					$('.modal').modal();
					$('#adFormModal').modal('open');


				}
			});
		   

		}

		function LoadAds(beaconId, AreaName) {
			$.ajax({
				url: '/Advertisements/AreaAds/' + beaconId,
				success: function (result) {
					$('#adsContent').html(result);
					$("#AreaAdTitle").text(AreaName);

				}
			});


		}



	</script>




}




