@model Cynfo1._0.ViewModels.AdsViewModel

@{
    ViewBag.Title = "Anuncios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<br/>
<div class="w3-container w3-center w3-border-blue">
    <h2 class="w3-xxlarge">Anuncios Publicados</h2>
    <br />
    <a href="@Url.Action("Create", "Advertisements")" class="w3-btn-floating w3-teal">
        <i class="fa fa-plus"></i>
    </a>

</div>

<hr />
@if (!Model.Advertisements.Any())
{
    <p>Aun no se ha publicado ningun anuncio</p>

}
else
{
    <div class="w3-row-padding" id="card_container">

        @foreach (var advertisement in Model.Advertisements.Reverse())
        {
            <div class="w3-third w3-padding-12" id="card-@advertisement.Id">
                <div class="w3-card-4" style="width: 92%; max-width: 350px;">
                    
                    <img src="@advertisement.MediaURL" style="width: 100%;"/>
                    <div class="w3-container">
                        <h4><b>@advertisement.Title</b></h4>
                        <p>@advertisement.Description</p>
                        <h4><b>Area</b></h4>

                        @{
                            var beaconArea = Model.Beacons.SingleOrDefault(b => b.Id == advertisement.BeaconId);
                        }
                        @if (beaconArea != null)
                        {
                            <p> @beaconArea.AreaName</p>
                        }
                        else
                        {
                            <p>No se ha especificado ningun area</p>
                        }
                        
                       
                        
                    </div>
                    

                    <div class="w3-btn-group w3-row">

                        <button data-ad-id="@advertisement.Id" class="w3-btn js-delete w3-col m6 w3-teal">Borrar</button>
                        <a href="@Url.Action("Edit", "Advertisements", new {id = advertisement.Id})" class="w3-btn-block w3-btn w3-teal m6 w3-col">Editar</a>




                    </div>

                </div>
            </div>

                            }

    </div>
                            }
<br />
@section scripts
{
    <script>
        $(document)
            .ready(function () {
               
                $("#card_container").on("click",".js-delete", function() {
                    var button = $(this);
                    
                    bootbox.confirm("Desea eliminar este anuncio?", function(result) {
                        if (result) {
                            $.ajax({
                                url: "/api/advertisements/" + button.attr("data-ad-id"),
                                method: "DELETE",
                                success: function () {
                                    $("#card-" + button.attr("data-ad-id")).remove();
                                }
                            });
                            
                        }
                    });
                  
                });


            });

    </script>

}




