@model Cynfo1._0.ViewModels.AdsViewModel

@{
    ViewBag.Title = "Anuncios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Anuncios</h2>
<br />
<a href="@Url.Action("Create","Advertisements")" class="btn btn-primary">Nuevo</a>
<hr />
@if (!Model.Advertisements.Any())
{
    <p>Aun no se ha publicado ningun anuncio</p>

}
else
{
    <div class="w3-row-padding" id="card_container">

        @foreach (var advertisement in Model.Advertisements.Reverse())
        {
            <div class="w3-third w3-padding-12" id="card-@advertisement.Id">
                <div class="w3-card-4" style="width: 92%; max-width: 350px;">
                    <div></div>
                    <img src="@advertisement.MediaURL" style="width: 100%;"/>
                    <div class="w3-container">
                        <h4><b>@advertisement.Title</b></h4>
                        <p>@advertisement.Description</p>
                        <h4><b>Area</b></h4>

                        @{
                            var beaconArea = Model.Beacons.SingleOrDefault(b => b.Id == advertisement.BeaconId);
                        }
                        @if (beaconArea != null)
                        {
                            <p> @beaconArea.AreaName</p>
                        }
                        else
                        {
                            <p>No se ha especificado ningun area</p>
                        }
                        <div class="w3-btn-group" style="width: 100%">

                           <button data-ad-id="@advertisement.Id" class="w3-btn js-delete">Borrar</button>
                            <a href="@Url.Action("Edit", "Advertisements", new {id = advertisement.Id})" class="w3-btn-block w3-btn w3-light-blue" style="width: 50%">Editar</a>
                        </div>





                    </div>

                </div>
            </div>

                            }

    </div>
                            }
<br />
@section scripts
{
    <script>
        $(document)
            .ready(function () {
                $("#card_container .js-delete").on("click", function() {
                    var button = $(this);
                    if (confirm("Quieres Borrar tu anuncio?")) {
                        $.ajax({
                            url: "/api/advertisements/" + button.attr("data-ad-id"),
                            method: "DELETE",
                            success: function() {
                                $("#card-" + button.attr("data-ad-id")).remove();
                            }
                        });
                    }
                });


            });

    </script>

}




