@model IEnumerable<Cynfo1._0.Models.Beacon>

@{
    ViewBag.Title = "Beacons & Areas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="container row" id="main_content">
    <h2>Beacons & Areas</h2>

    <a href="@Url.Action("Create","Beacons")" class="btn accent-color waves-effect waves-light right-align">Nueva Area</a>
    <br />
    <br />
    @if (!Model.Any())
    {
        <p>
            No se ha agregado ningun Beacon aun.
        </p>
    }
    else
    {
        <div class="w3-container card">
            <table id="beacons-table" class="table bordered highlight centered">
                <thead>
                    <tr class="">
                        <th>Area</th>
                        <th>ID Area</th>
                        <th>Beacon Asignado</th>
                        <th>Editar</th>
                        <th>Borrar</th>
                    </tr>
                <tbody>
                    @foreach (var beacon in Model)
                {
                        <tr class="secondary-text-color">
                            <td>@beacon.AreaName</td>
                            <td>@beacon.AreaId</td>
                            <td>@beacon.MACAddress</td>
                            <td><a href="@Url.Action("Edit", "Beacons", new {id = beacon.Id})"><i class="material-icons w3-text-green">mode_edit</i></a></td>
                            <td><a data-beacon-id="@beacon.Id" class="js-delete" href="#"><i class="material-icons w3-text-red">delete</i></a></td>

                        </tr>


                    }
                </tbody>
            </table>
        </div>
    }
    

</div>
@section scripts
{
    
   
    
    <script>
        $(document).ready(function() {
            $("#beacons-table").on("click", ".js-delete", function () {
                var button = $(this);

                swal({
                        title: '¿Desea eliminar esta area?',
                        text: "Los cambios no seran revertidos.",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'Si ',
                        cancelButtonText: 'No',
                        confirmButtonClass: 'btn btn-flat wave-effects waves-green',
                        cancelButtonClass: 'btn btn-flat wave-effects waves-red',
                        buttonsStyling: false
                    })
                    .then(function () {

                        $.ajax({
                            url: "/api/beacons/" + button.attr("data-beacon-id"),
                            method: "DELETE",
                            success: function () {
                                button.parents("tr").remove();
                                swal(
                                'Eliminado',
                                'El area fue eliminada correctamente',
                                'success'
                                );
                            }
                        });
                            
                        },
                        function(dismiss) {
                            // dismiss can be 'cancel', 'overlay',
                            // 'close', and 'timer'
                            if (dismiss === 'cancel') {
                                swal(
                                    'Cancelled',
                                    'Your imaginary file is safe :)',
                                    'error'
                                );
                            }
                        });

      

            });


        });

    </script>

}


