<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    
    <link rel="stylesheet" href="/Content/w3.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Content/bootstrap-datetimepicker.css" />
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body  class="w3-light-grey">
    @Html.Partial("_NavBar")
    <div class="">
        @RenderBody()
        
    </div>
<hr />

<footer>
    <p>&copy; @DateTime.Now.Year - Cynfo WebApp</p>
</footer>

    @Scripts.Render("~/bundles/lib")
    
    @RenderSection("scripts", required: false)
</body>
</html>
