@using System.Web.UI.WebControls
@using Cynfo1._0.Models
@model LoginViewModel

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "LoginForm" }))
{
    @Html.AntiForgeryToken()
    <h4>¿Posee una cuenta en Cynfo?</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="input-field ">

        @Html.TextBoxFor(m => m.Email, new { @class = "" })
        @Html.LabelFor(m => m.Email, new { @class = "" })
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
    </div>

            <div class="input-field">

                @Html.PasswordFor(m => m.Password, new { @class = "input-field", PlaceHolder = "Contraseña" })
                @Html.LabelFor(m => m.Password, new { @class = "" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>

             <div class="">


                <input type="submit" value="Iniciar sesión" class="btn " />

            </div>

                @* Habilite esta opción después de habilitar la confirmación de la cuenta para la función de restablecimiento de contraseña
                    <p>
                        @Html.ActionLink("¿Ha olvidado su contraseña?", "ForgotPassword")
                    </p>*@
}
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="/scripts/moment.min.js"></script>


