
@using Cynfo1._0.Models
@using Microsoft.AspNet.Identity


<div class="navbar-fixed">
    <nav role="navigation" class="w3-teal">
        <div class="nav-wrapper ">
            
            <ul id="" class="left">
                <li>@Html.ActionLink("Cynfo", "Index", "Home", new { area = "" }, new { @class = "w3-xlarge" })</li>
                <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>

                @if (Request.IsAuthenticated)
                {
                    <li>@Html.ActionLink("Anuncios", "Index", "Advertisements")</li>
                    <li>@Html.ActionLink("Beacons", "Index", "Beacons")</li>
                }
                

            </ul>
            <ul id="" class="right" >
                <li>@Html.Partial("_LoginPartial")</li>
                
            </ul>
           
        </div>
    </nav>
</div>
